body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkred;
}

figure {
    display: grid;
    grid-template-columns: repeat(8, 1em);
    grid-template-rows: repeat(3, 1em);
    font-size: 60px;
    color: whitesmoke;
}

/* assistant lines within the figure element */
/* figure {
    background-image: 
        linear-gradient(to bottom, transparent 0%, transparent 99%, pink 100%),
        linear-gradient(to right, transparent 0%, transparent 99%, pink 100%),
        linear-gradient(to top, transparent 0%, transparent 99%, pink 100%),
        linear-gradient(to left, transparent 0%, transparent 99%, pink 100%);
    background-size: 1em 1em;
    background-repeat: repeat, repeat, repeat-x, repeat-y;
} */

.two {
    background-color: currentColor;
    box-shadow: 4em 0;
}

.two.part1 {
    grid-area: 1/1;
    border-top-left-radius: 100%;
}
.two.part2 {
    grid-area: 2/2;
    border-bottom-right-radius: 100%;
}
.two.part3 {
    grid-area: 3/1;
    border-top-left-radius: 100%;
}
.two.part4 {
    grid-area: 3/2;
    border-bottom-left-radius: 100%;
}

.zero {
    /* background-color: currentColor; */
    width: 0;
    height: 0;
    border: 1em solid;
    border-color: currentColor transparent;
    border-radius: 50%;
    /* transform: rotate(-45deg); */
    animation: round 3s linear infinite;
}

.copy-1 {
    grid-area: 2/3/4/5;
}

.copy-2 {
    grid-area: 2/7/4/9;
}

.text {
    text-transform: uppercase;
    font-size: 0.66em;
    line-height: 1.5em;
    font-weight: bold;
    font-family: tahoma, serif;
    /* padding-left: 0.25em; */
    mix-blend-mode: difference;
    text-align: center;
}

.txt1 {
    grid-area: 1/2/2/5;
}

.txt2 {
    grid-area: 2/4/3/6;
}

.txt3 {
    grid-area: 1/6/2/9;
}

@keyframes round {
    to {
        /* transform: rotate(calc(-45deg + -1turn)); */
        transform: rotate(-1turn)
    }
}